html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    position: sticky;
    top: 0;
    z-index: 5000; /* Asegura que el encabezado esté sobre otros elementos */
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header, footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

 h1, header h2 {
    margin: 0;
    cursor: pointer;
}

main {
    padding: 20px;
    min-height: 80%;
    display: flex;
    justify-content: center; 
    align-items: center;
}

#character {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    gap: 15px;
}

.character {
    flex-basis: calc(25% - 40px); 
    background-color: #ddd; 
    padding: 20px; 
    text-align: center;
    border-radius: 5px; 
    box-sizing: border-box; 

}

.character .more,
.character .counter,
.character .less {
    margin: 1 20px;
    
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.fake-cart {
    position: relative; /* Asegura que el contenedor sea relativo */
}

.material-symbols-outlined::after {
    content: attr(data-badge);
    position: absolute;
    top: 2px; 
    right: 30px; 
    color: white;
    font-size: 15px; 
    padding: 2px 6px;
    border-radius: 50%;
}

/* Estilos para el carrito */
.carrito-container {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.carrito-title {
    margin-bottom: 10px;
}

.carrito-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.carrito-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}

.carrito-item img {
    max-width: 100%;
    height: auto;
}

.carrito-info p {
    margin: 5px 0;
    font-size: 14px;
}



















